<div class="recovery-password-container">
  <div class="recovery-password-card">
    <div class="modal-header-logo">
      <img src="/images/ajaw-logo.png" alt="Logo" class="logo" />
    </div>
    <h1 class="title">{{ "RECOVERY_PASSWORD.TITLE" | translate }}</h1>
    <p class="subtitle">{{ "RECOVERY_PASSWORD.SUBTITLE" | translate }}</p>

    <form (ngSubmit)="onRequestRecovery()" #recoveryForm="ngForm">
      <div class="form-group">
        <label for="email">{{
          "RECOVERY_PASSWORD.EMAIL_LABEL" | translate
        }}</label>
        <div class="input-icon-group">
          <i class="fas fa-envelope icon"></i>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            email
            #emailInput="ngModel"
            [class.is-invalid]="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            "
          />
        </div>
        <div
          *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
          class="invalid-feedback"
        >
          <div *ngIf="emailInput.errors?.['required']">
            {{ "RECOVERY_PASSWORD.EMAIL_REQUIRED" | translate }}
          </div>
          <div *ngIf="emailInput.errors?.['email']">
            {{ "RECOVERY_PASSWORD.EMAIL_INVALID" | translate }}
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="recoveryForm.invalid || isLoading"
        class="btn-primary"
      >
        <span *ngIf="!isLoading">{{
          "RECOVERY_PASSWORD.SUBMIT_BUTTON" | translate
        }}</span>
        <span *ngIf="isLoading">{{
          "RECOVERY_PASSWORD.LOADING_BUTTON" | translate
        }}</span>
      </button>
    </form>

    <div
      *ngIf="message"
      class="message mt-3 alert"
      [class.alert-danger]="isError"
      [class.alert-success]="!isError"
    >
      {{ message }}
    </div>

    <a routerLink="/login" class="btn btn-secondary mt-3">
      <i class="fa-solid fa-arrow-left"></i>
      {{ "RECOVERY_PASSWORD.BACK_TO_LOGIN" | translate }}
    </a>
  </div>
</div>
